body {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

.header {
    display: flex;
    margin-top: 15px;
    padding-bottom: 15px;
    justify-content: space-around;
    border-bottom: 4px double red;
}

.header-logo {
    background-image: url("../img/logo_img.png");
    width: 118px;
    height: 72px;
}

.header-text {
    background-image: url("../img/logo_text.png");
    width: 533px;
    height: 72px;
}

.list-of-tasks {
    list-style: none;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.task-select {
    margin-right: 80px;
    background-color: red;
    color: white;
    height: 30px;
    width: 120px;
    font-size: 16px;
}

.task-button {
    border: none;
    background-color: red;
    color: white;
    font-size: 16px;
    text-decoration: none;
    width: 100px;
    height: 30px;
}



